/* -- OVERALL APP STYLING -- */

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  position: absolute;
  background-image: url(./img/scatter.gif);
  background-position: center;
  background-repeat: repeat;
}

.App {
  margin: 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Gotham', sans-serif;
  color: #606060;
  font-size: 1.9em;
  line-height: 1.2em;
  text-align: center;
  margin: 1em 0;

}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: #606060;
  text-align: center;
  margin: 10px 0;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
  color: #606060;
  text-align: left;
  margin: 0 0 20px 0;
  width: 100%
}

p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1em;
  color: #606060;
  margin: 10px 0;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa_Regular.ttf');
}

/* -- HEADER STYLING -- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px #7ED321 solid;
  align-items: center;
  padding: 1.5em;
  background-color: #fefefe;
}

.logoarea {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
  height: 62px;
  background-color: white;
  background-image: url(./img/logo.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 1em;
}

.logo:hover {
  cursor: pointer;
}

#logotype {
  display: inline-block;
  margin: 0;
  font-family: 'Comfortaa';
  font-size: 2.5em;
  color: #7ED321;
}

.dropbtn {
    background-color: #7ED321;
    color: white;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #7ED321;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background-color: #fefefe;
    width: 200px;
    border: 2px solid #7ED321;
    margin-top: 28px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #7ED321;
}

.show {
  display:block;
}

.ExpandedNavigation {
  display: none;
}

/* -- Homepage Styling -- */

p.splashText {
  text-align: center;
  font-size: 1.15em;
}

/* -- Submission Form Styling -- */

p#HomepageMessage {
  font-size: 1.15em;
  text-align: center;
}

form {
  box-sizing: border-box;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 260px;
  background-color: #ffffff;
  padding: .5em;
  margin-bottom: 1em;
  border: 2px solid #7ED321;
  border-radius: 10px;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1.15em;
  color: #606060;
}

textarea::placeholder {
  color: #a5a5a5;
}

textarea:focus {
  outline:none;
}

.Button-Clipboard {
  height: 40px;
  width: 100%;
  background-color: #7ED321;
  color: #fff;
  font-size: 1.25em;
  font-family: 'Gotham';
  border: none;
  border-radius: 25px;  width: 100%;
}

.Button-Clipboard:focus {
  outline:none;
}

.Button-Clipboard:hover {
  background-color: #8EBDB2;
}

.Button {
  height: 40px;
  width: 200px;
  background-color: #7ED321;
  color: #fff;
  font-size: 1.25em;
  font-family: 'Gotham';
  border: none;
  border-radius: 25px;
  margin: .5em;
}

.Button:focus {
  outline:none;
}

.Button:hover {
  background-color: #8EBDB2;
}

.copyMessage {
  color: #7ED321;
  text-align: center;
}

i {
  color: #ccc;
}

/* Loader Component */

.Loader {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingAnimation {
  background-color: white;
  height: 400px;
  width: 400px;
  background-image: url(./img/loader.gif);
  background-position: center;
  background-size: cover;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

h1#loadingTitle {
  color: #eeeeee;
  animation: fadeIn 1s infinite alternate;
}

/* -- Document Results Styling -- */

.DocumentResults {
  min-width: 300px;
  width: 90%;
  max-width: 600px;
}

.AccordionContainer {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1em;
}

.accordion {
  background-color: #eeeeee;
  border-radius: 0px;
  border-bottom: 1px solid #fefefe;
  padding: 1em;
  overflow: hidden;
  box-sizing: border-box;
}

.accordion:hover {
  background-color: #DFDEDE;
}

span.emotionAccordionName {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: #606060;
}

.AccordionHeader {
  display: flex;
  justify-content: space-between;
}

.accordion.collapsed {
  height: auto;
  max-height: 50px;
  transition: max-height 0.2s ease-in;
}

.accordion.open {
  height: auto;
  max-height: 230px;
  transition: max-height 0.2s ease-in;
}

.accordion p {
  width: 90%;
}

p#positiveWarning {
  font-weight: bold;
  color: #7ed321;
}

p#negativeWarning {
  font-weight: bold;
  color: tomato;
}

i.fa-plus, i.fa-minus {
  color: #606060;
}

i.fa-plus:hover, i.fa-minus:hover {
  color: #5FCBFF;
}

i.hide {
  display: none;
}

.fa-flag {
  color: tomato;
  margin-right: 1em;
}

.fa-check {
  color: #7ed321;
  margin-right: 1em;
}

/* -- Sentence Results Styling -- */

.container {
  box-sizing: border-box;
  max-width: 600px;
  width: 90%;
  min-width: 300px;
  margin-bottom: 2em;
}

.SentenceResults span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropbtn {
    background-color: #7ed321;
    color: white;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #8EBDB2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background-color: #fefefe;
    width: 200px;
    border: 2px solid #7ed321;
    margin-top: 28px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #70E0D3;
}

.show {
  display:block;
}

/* Begin styling for sentence results buttons */

.toneToggleButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toneToggleButtons:hover {
  cursor: pointer;
}

.toggleButton {
  width: 110px;
  height: 20px;
  text-align: center;
  padding: .4em .5em .6em .5em;
  border-radius: 20px;
  margin: 0 1em 1em 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  color: #000000;
}

.Analytical, .Confident, .Joy {
  background-color: #7ed321;
}

.Fear, .Anger, .Sadness {
  background-color: tomato;
}

.SentenceResults {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 1em;
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

hr {
  border: none;
}

#buttonSeparater {
  width: 100%;
  border-style: solid;
  border-color: #606060;
  border-width: 1px 0 0 0;
  margin: 1em 0;
}

.highlighted.fear span,
.highlighted.anger span,
.highlighted.sadness span
{
  color: white;
  background-color: tomato;
}

.highlighted.joy span,
.highlighted.confident span,
.highlighted.analytical span
{
  color: black;
  background-color: #7ed321;
}

/* At tablet or bigger */
@media only screen and (min-width: 768px) {

  .dropdown {
    display: none;
    color: #606060;
  }

  .ExpandedNavigation {
    width: 140px;
    display: flex;
    justify-content: space-between;
  }

  .ExpandedNavigation a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #7ED321;
    font-weight: bold;
    text-transform: uppercase;
  }

  .ExpandedNavigation a:hover {
    color: #606060;
    cursor: pointer;
  }
}


/* -- Button Layout For Mid-Size Screens -- */
@media only screen and (max-width: 510px) and (min-width:420px) {

  .toggleButton {
    border-radius: 20px;
    margin: 0 2em 1em 0;
  }

  .toneToggleButtons {
    display: flex;
    justify-content: flex-start;
  }
}


/* -- Button Layout for Small Mobile -- */
@media only screen and (max-width: 360px) {
  .toggleButton {
    width: 100px;
    border-radius: 20px;
  }
}

/* -- Small Screen Text -- */
@media only screen and (max-width: 425px) {

  h1 {
    font-size: 1.5em;
    margin: 1em 0;
  }

  p.splashText {
    font-size: 1em;
  }

  p, span.returnSentence {
    font-size: 0.9em;
  }

  textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: #606060;
  }
}

@media only screen and (min-width: 1024px) {
  .SentenceResults {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #SentenceReturn {
    width: 60%;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #606060;
    padding-left: 1em;
  }

  #ToggleControlsAndLabels {
    width: 25%;
    margin-right: 0.5em;
  }

  #buttonSeparater {
    display: none;
  }
}

/* Score pop-up styling */
.scoreHide {
  display: none;
}

.scoreShow {
  display: inline;
}

.scoreInfo {
  display: none;
  position: absolute;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  box-shadow: 0 2px 1em #333;
}

.sentenceText {
  position: relative;
}

.sentenceText:hover {
    cursor: pointer;
}

.sentenceText:active .scoreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.5em;
}

.tentativeTentative {
  display: none;
}

.joyJoy, .confidentConfident, .analyticalAnalytical {
  color: #7ed321 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.angerAnger , .fearFear, .sadnessSadness{
  color: tomato !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/* Modal Component */
  .modalContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .modalBackground, .modalBackgroundAlert {
    position: fixed;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .modalBackground {
    background-color: rgba(0, 0, 0, .6);
  }
  .modalBackgroundAlert {
    background-color: rgba(0, 0, 0, .6);
  }

  .modalHeader, .modalHeaderAlert {
    display: flex;
    justify-content: space-between;
    z-index: 40;
    align-items: baseline;
    padding: 1em;
    border-radius: 8px 8px 0 0;

  }
  .modalHeader{
    background-color: #70E0D3;
  }
  .modalHeaderAlert {
    background-color: tomato;
  }

 .modalHeader h1, .modalHeaderAlert h1 {
    color: #fff;
    margin: 0;
  }

  .modalHeader i, .modalHeaderAlert i {
    color: #fff;
  }

  .modalText {
    z-index: 40;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    padding: 1em;
    min-height: 40px;
    text-align: center;
  }

  .modalText li {
    list-style: none;
  }

  .modalText p:first-child {
    margin: auto;
  }
  .modalText a{
    text-decoration: none;
  }
  .border {
    margin: 0 auto;
    width: 95%;
    max-width: 620px;
  }
