body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.App {
  margin: 0 auto;
  width: 90%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  text-align: center;
}

header {
  border-bottom: 1px #eee solid;
  color: #000;
  padding: 1em;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 2em;
}

textarea {
  min-width: 90%;
  min-height: 400px;
	border: none;
  font-size: 1.25em;
  background-color: #fafafa;
  border-radius: 0;
	padding: .5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}


.Button {
  height: 40px;
  width: 50%;
  background-color: #F5B23E;
  color: #fff;
  font-size: 1.25em;
  border: none;
  border-radius: 25px;
}

.Button:hover {
  background-color: #ccc;
}

.HeaderBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

i {
  color: #ccc;
}

/* -- Document Results Styling -- */

.AccordionContainer {
  width: 90%;
  border-radius: 4px;
  overflow: hidden;
  background-color: #efefef;
  margin-bottom: 2em;
  padding: 1em;
}

.accordion {
  min-width: 90%;
  background-color: #efefef;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  padding: .5em;
  color: #000;
}

.accordion:hover {
  border-radius: 8px;
  border: none;
  background-color: #ddd;
}

.accordion.collapsed {
  height: 1.5em;
  overflow: hidden;
}

.accordion.open {
  border: none;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.SentenceResults {
  padding: 1em;
  width: 90%;
  background-color: #fafafa;
  border-radius: 0px;
}

textarea, .DocumentResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.dropbtn {
    background-color: #F5B23E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 14px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #F5B23E;
    transform: rotate(90deg);
    transition: .5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background-color: #fff;
    width: 200px;
    height: 100vh;
    border: 1px solid #eee;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.joy {
  background-color:  yellow;
  opacity: .7;
}

@media only screen and (min-width: 770px) {

  .App {
    width: 600px;
  }

}
